
    
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

        *{
            margin: 0;
            padding: 0;
            font-family: 'Josefin Sans', sans-serif;
        }

        p{
            font-family: 'Open Sans', sans-serif;
        }

        h2{
            font-weight:200;
        }

        h4{
            font-weight: 400;
        }

        h3{
            font-weight: 400;
        }

        .open-font{
            font-family: 'open-sans'
        }

        html{
            scroll-behavior: smooth;
        }

        header{
            z-index: 5;
            position: fixed;
            width: 100%;
            z-index: 9999;
            max-height: 80px;
            visibility: hidden;
        }
        
        nav{
            font-size: 14px;
            margin: 15px auto auto auto;
            width: 90%;
            height:65px;
            padding: 0;
            transition: margin .2s;
        }

        .menu{
            margin-top: 10px;
            float: right;
        } 
        
        #LOGO{
            display: inline-block;
            margin: 10px auto;
            transform-style: preserve-3d;
        }

        .logo{
            font-size: 217px;
            display: block;
            text-decoration: none;
            color:rgb(238, 238, 238);
            font-size: 35px;
            text-shadow: 5px 5px 3px rgb(69, 0, 158);
            transform: translateZ(20px);
        }
           
        li{
            display: inline-block;
            
        }

        ul li a{
            display: block;
            text-decoration: none;
            padding: 10px;
            color: white;

        }
       
        ul li::after{
            content: '';
            display: block;
            transform: scaleX(0);
            height: 2px;
            background: #fff;
            transition: transform .3s;
        }

        ul li:hover::after{
            transform: scalex(1);
        }
        

        #check{
            display: none;
        }
        .check-btn{
            padding: 0;
            font-size: 50px;
            float: right;
            display: none;
        }      
        
        #HOME{
            position:relative;
            box-sizing: border-box;
            height: 100vh;
            width: 100%;
            background-size: cover;
            z-index: 2;
        }

        #HOME::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;    
            /* background-color: rgba(0, 0, 0, 0.24); */
            /* z-index: -99999; */
            box-shadow: inset 20px 20px 30px rgba(0, 0, 0, 0.911), inset -20px -20px 30px rgba(0, 0, 0, 0.918);
            /* background: linear-gradient(45deg,rgba(0, 0, 0, 0.904),rgba(0, 0, 0, 0.753)); */
            background: radial-gradient(rgb(0, 0, 0),rgba(29, 29, 29, 0.904))

        }

        .intro{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
            font-family: sans-serif;
            /* color: rgb(129, 129, 129); */
            color: white;
            z-index: 1;
        }
        .intro h3{
            font-size: 20px;
        }
        .intro h1{
            padding-top: 20px;
            font-size: 4em;
        }
        hr{
            margin:15px auto;
            height:3px;
            width:80%;
            border: none;
            background: radial-gradient(rgb(68, 68, 68),transparent);
        }


        #ABOUT{
            z-index: 2;
            position: relative;
            width: 100%;
            margin-top: -200px;
        }

        #vp-img{
            height: 300px;
            width: 100%;
            border: 1px solid #dadada;
            object-fit: cover;
            border-radius: 50%;
            box-sizing: border-box;
            padding: 4px;
        }

        

        .about{
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 9999;
            box-sizing: border-box;
            height: 360px;
            width: 70%;
            background: #fff;
            border-radius: 5px;  
            margin: auto auto auto auto;
            overflow: hidden;
            box-shadow: 10px 10px 100px rgba(0,0,0,0.2);
            padding: 0 60px;            
            font-family: 'Open Sans', sans-serif;
            opacity: 0;            
        }        

        .icon{
            overflow: hidden;
            width: 300px;
            position: relative;
            padding: 0;
            font-size: 25px;
            color: blue;
        }        

        .about .details{
            height: 50%;
            width: 450px;
            float: right;
            margin: auto 0 auto 8%;
        }

        .about .details h1{
            font-size: 32px;
            color: rgb(26, 26, 26);
        }

        .about .details p{
            color: #6e7373;
            font-size: 20px;
            margin-top: 30px;
            line-height: 30px;
        }

        #service-sec{
            padding-bottom: 0 !important;
        }

        .sec-def{
            position: relative;
            padding: 100px; 
            box-sizing: border-box;
            width: 100%;
        }

        .sec-head span{
            display: block;
            padding-bottom: 10px;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

        .sec-head{
            text-align: center;
        }

        .sec-head h1
        {

            font-size: 30px;
            display: inline-block;
            letter-spacing: 2px;

        }

        .services{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 95%;
            margin: 50px auto 20px auto;
            
        }
        .service{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 220px;
            width: 340px;
            margin-right: 20px; 
            margin-bottom: 20px; 
            position: relative;
            transform-style: preserve-3d;
            perspective: 600px;
            transition: 0.5s;
            animation: fade-up 2s;
            animation-iteration-count: 1;
            animation-play-state:paused;
        }
        .service3{
            margin-right: 0;
        }
        .service4{
            margin-left: 20px;
        }

        .front{
            position: absolute;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            backface-visibility:hidden;
            transform: rotateX(0deg);
            transform-style: preserve-3d;
            background-image: linear-gradient(45deg,rgb(151, 151, 151),rgb(32, 32, 32));
            transition: .5s;
        }

        .service:hover .front{
            transform: rotateX(180deg);
        }

        .back{
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            backface-visibility:hidden;
            transform: rotateX(-180deg);
            background-image: linear-gradient(45deg,rgb(155, 155, 155),rgb(255, 255, 255));
            transition: .5s;

        }

        .service:hover .back{
            transform: rotateX(0deg);
        }

        .back h3{
            display: inline-block;
            margin: 50px auto 30px auto;
            transform: translateZ(50px);
        }

        .back p{
            margin: 0 40px;
            transform: translateZ(50px);
        }

        .service h4{
            padding:10px;
            transform: translateZ(50px);
            background-color: white;
            color: rgb(8, 0, 0);
            font-weight: 1;
            letter-spacing: 1px;
        }

        #education .content{
            border: 1px solid #e9e8e8;
            padding: 30px;
            margin-top: 25px;
            width:60%;
            background: #fff;
            transition: .3s;
            animation: fade-up 2s;
            animation-play-state:paused;
        }
        .content h4{
            font-size: 20px;
        }

        #education .content span{
            display: inline-block;
            background-color:#fd735a;
            color: white;
            padding: 2px 15px;
            margin:10px auto;
            border-radius: 4px;
        }
        .content:hover{
            box-shadow: 0 3px 5px #b4b4b4;
            transform: translateY(-5px);
            transition: .3s;
        }

        .curv-path{
            position: absolute;
            width: 100%;
            z-index: 1;
        }
        
        #expertise{
            width: 100%;
            background: #f7f7f7;
        }

        #skills{
            margin-top:100px;
        }
        

        #skills .content{
            border: 1px solid #e9e8e8;
            padding: 0 30px;
            margin-top: 25px;
            width:60%;
            background: #fff;
            transition: .3s;
            animation: fade-up 2s;
            animation-play-state:paused;
        } 
        #skills .meter-bar{
            width: 100%;
            margin: 30px auto;

        }

        .meter-bar h3{
            display: inline-block;
            font-size: 17px;
        }
        .meter-bar span{
            float: right;
        }

        .meter-bar meter{
            width: 100%;
            
        }

        meter::-webkit-meter-optimum-value{
            background:#f7693e;        
        }

        #contact{
            width:100%;
            background-color:rgb(201, 201, 201);
            padding: 70px 0;
            
        }

        .contact{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:row;
        }
        .box{
            box-sizing: border-box;
            width:350px;
            height:150px;
            padding:50px 0;
            background-color: #fff;
            margin: 20px;
            text-align: center;
            animation: fade-up 2s;
            animation-play-state:paused;
        }
        .contact .box h3{
            margin-top:15px;
        }
        .contact .box a{
            display:block;
            color:rgb(107, 107, 107);
            font-size: 20px;
        }

        footer{
            width:100%;
            background: black;
            padding: 9em 0;
        }

        .foot{
            width: 100%;
            text-align: center;
            color: white;            
        }

        .foot h1{
            font-size: 30px;
            margin-bottom: 20px;
        }

        @media(max-width:1082px){
            .about{
                width: 90%;
            }
            .sec-def{
                padding: 10px;
            }
            .services{
                flex-wrap: wrap;
            }
            .box{
                margin:5px;
            }
        }

        @media(max-width:730px){
           
            nav{ 
                border: 0;
                width: 100%;
                }
            .check-btn{
                display: block;                
                }
            li{
                display: block;
                background: transparent;
                text-align: center;
                }
            li:hover::after{
                display: none;
            }
            li:hover{
                background: radial-gradient(teal,rgb(1, 73, 73));
            }          
            .menu{
                overflow: hidden;
                transition: height .5s;
                display: block;
                background-color: teal;
                width: 100%;
                height: 0px;
                padding: 0;
                margin: 0;
                margin-top: 10px;
                }
            li a{
                color: black;
                }

            #check:checked~.menu{
                transition: height .5s;
                height: 200px;
                }

            .about{
                height:300px;
            }

            .icon{
                display: none;
                
            }
            #ABOUT .details{
                margin-top: 30px;
                text-align: center;
            }
            #ABOUT .details h1{
                text-align: center;
            }

            .services{
                flex-direction: column;
                height: auto;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .services .service{
                margin-bottom: 30px;
                margin-right: 0;
            }
            .services .service4{
                padding: 0;
                margin-left: 0;
            }
            .contact{
                flex-direction: column;
            }
            
        }

        .mySlides {
            display: none;
            background-color: rgba(41, 41, 41, 0.781);
        }

        .mySlides img{
            mix-blend-mode: soft-light;
        }

        .slideshow-container {
            max-width: 100%;
            position: relative;
            margin: auto;
          }

        .slideshow-container::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(44, 44, 44, 0.616);
        }

        .fade {
            animation-name: fade;
            animation-duration: 1.5s;
          }



        @keyframes fade-up{ 
            0%{
                opacity: 0;
                transform: translateY(40px);

            }
            50%{
                opacity: 1;                
            }
            100%{
                transform:translateY(0px);
            }
        }

        @keyframes fade-down{ 
            0%{
                opacity: 1;
                transform: translateY(0px);

            }
            50%{
                opacity: 0;
            }
            100%{
                transform:translateY(40px);

            }
        }

        @keyframes fade {
            from {opacity: .4} 
            to {opacity: 1}
          }

          
        
        .anime{
            animation: fade-up 0.7s;
            opacity: 1;
        }
        .noAnime{
            animation: fade-down 0.7s;
        }
